<!DOCTYPE html>
<html class="has-background-black">
  <head>
    <title>FlickrPhotosphere</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-background-black">

    <% flash.each do |message_type, message| %>
      <% if message_type == 'error' %>
        <%= content_tag(:p, message, class: "notification is-danger has-text-dark has-text-weight-bold") %>
      <% else %>
        <%= content_tag(:p, message, class: "notification is-#{message_type} has-text-dark has-text-weight-bold") %>
      <% end %>
    <% end %>
    <section class="section">
      <%= yield %>
    </section>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
